Package: com.example.testapp
Name: Test App
Version: 1.0.0
Architecture: iphoneos-arm64
Description: iOS Test Application
Maintainer: 3aiOS-dev
Author: 3aiOS-dev
Section: Utilities
Depends: mobilesubstrate
